@media (max-width:1836px){	
    /*
    .visual .visualSlick .slick-prev {
		left: 20%;
	}
    .visual .visualSlick .slick-next {
		right: 20%;
	}
*/
}

@media (max-width:1280px){	
  
    header .h_center {
		position: relative; 
		width: 98%;
	}
    .c_center {
		width: 98%;
	}
	.saleIntroWrap {
		width: 100%;
	}
    .cont04 .eventBtnWrap .eventBtn .eImgWrap {width: 98%; height: 212px;}
	/*
    .visual .visualSlick .slick-prev {
		left: 25%;
	}
    .visual .visualSlick .slick-next {
		right: 25%;
	}*/

	.boardCont img {
		width: 100%;
	}

	.itemIntro_wrap .searchChkBox {
		width: 98%;
	}
	.itemIntro_wrap .searchBarWrap {
		width: 89%;
	}
	.bookAbtnailWrap .bookAbtnail {
		width: 33.333%;
	}
	.bookAbtnailWrap .bookAbtnail:nth-child(4) {
		padding: 54px 0;
	}
	.bookAbtnailWrap .bookAbtnail:nth-child(9) {
		border-bottom: 1px solid #A5A5A5;
	}
	.searchChkBox .row label {
		font-size: 0.875rem;
	}
	.itemIntro_wrap .searchChkBox .row .row_det {
		padding: 0 20px;
	}
	.itemIntro_wrap .searchChkBox .row:nth-child(4) .row_det {
		padding: 10px 20px;
	}
	.mypageCont .myRegiItems_con .levelBoxWrap .levelBox {
		padding: 0 40px;
	}
	.mypageCont .regiList_detBox_two {
		width: 620px;
	}
	.mypageCont .regiList_detWrap .regiList_detBox_02 {
		padding: 0 10px;
	}
}

@media (max-width:1022px){	
	.m_topBtn {
		position: fixed;
		right: 20px;
		bottom: 50px;
		display: block;
		z-index: 990;
	}
	.m_topBtn img {
		height: 60px;
	}
    header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #fff;
        z-index: 1000;
        padding-top: 0;
    }
    header .h_center .h_bot {
        display: none;
    }
    header .htMwrap {
        display: none;
    }

    header .m_btnWrap {
        display: flex;
        position: absolute;
        bottom: 50%; 
        transform: translateY(50%);
        right: 0;
    }
    .header.openFull {
        height: 100vh;
        overflow-y: scroll;
    }
    .header.openFull .m_btnWrap {
        background-color: #D1282D;
        width: 40px;
        height: 40px;
        bottom: 0;
        transform: translateY(0);
        z-index: 1000;
    }

    header .m_btnWrap .m_subBtn > a {
        margin-right: 15px;
    }

	header .m_btn {
        position: relative;
        width: 20px; 
        height: 25px; 
        font-size: 0; 
        background-color: transparent; 
        border:none; 
        cursor:pointer; 
        z-index:1000;
    }

	header .m_btn .bar_top,
	header .m_btn .bar_mid,
	header .m_btn .bar_bot {
        display: block; 
        position: absolute; 
        right: 0; 
        width: 20px; 
        height: 2px; 
        border-radius:4px; 
        background-color: #585858; 
        transform-origin: top right;  
        transition:all .3s ease-in-out;
    }
	header .m_btn .bar_top {
        top: 4px;
    }
	header .m_btn .bar_mid {
        top: 50%; 
        transform: translate(0, -50%);
    }
	header .m_btn .bar_bot {
        bottom: 4px;
    }

	.header.openFull .m_btn .bar_bot {
        opacity:0;
    }
	.header.openFull .m_btn  .bar_top {
        top: 13px; 
        left: 6px; 
        width: 20px; 
        transform: rotate(-45deg); 
        background-color:#fff;
    }
	.header.openFull .m_btn  .bar_mid {
        top: 27px; 
        left: 8px; 
        width: 20px; 
        transform: rotate(45deg);
        background-color:#fff;
    }

    header .m_gnb {
        display: none;
        position: absolute;
        left: 0;
        top: 73px;
        width: 100vw;
        z-index: 999;
    }

    header .m_gnb .m_gnb_sub_top {
        width: 100%;
        height: 65px;
    }

    header .m_gnb .m_gnb_sub {
        background-color: #fff;
    }

    header .m_gnb .m_gnbTop {
        padding: 22px 15px;
        background-color: #D1282D;
    }
    header .m_gnb .m_gnbTop p {
        color: #fff;
		font-size: 0.875rem;
    }
    header .m_gnb .m_gnbTop .loginBtn {
        padding: 6px 16px;
        border-radius: 35px;
        background-color: #fff;
    }
    header .m_gnb .m_gnbTop .loginBtn span {
        margin-right: 8px;
        color: #585858;
    }
    
    header .m_gnb .m_gnbTop .loginBtn img {
        height: 15px;
    }

    header .m_gnbMain > li > a {
        padding: 15px 15px;
        border-bottom: 1px solid #BEBEBE;
        font-size: 1rem;
        font-weight: 500;
    }

    header .m_gnbMain li .m_depth2 {
        display: none;
        border-top:1px solid #000;;
        background-color: #EFEFEF;
    }

    header .m_gnbMain li .m_depth2 li {
        padding: 15px 0 0px 37px;
    }
    header .m_gnbMain li .m_depth2 li a {
		font-size: 0.875rem;
	}

    header .m_gnbMain li .m_depth2 li:last-child {
        padding-bottom: 15px;
    }

    header .m_gnbMain li .lnr-chevron-up {
        display: none;
    }

    header .m_gnbMain li.on .lnr-chevron-up {
        display: block;
    }
    
    header .m_gnbMain li.on .lnr-chevron-down {
        display: none;
    }

    header .m_gnbMain li .lnr-chevron-up, header .m_gnbMain li .lnr-chevron-down {
        font-weight: bold;
        color: #585858;
    }

    header .m_pro_top .m_blackBtn {
        margin-right: 10px;
        background-color: #000;
        color: #fff;
        padding: 5px 10px;
    }
    header .m_pro_top .m_blackBtn span {
        margin-left: 5px;
        color: #fff;
    }
    header .m_pro_top {
        box-sizing: border-box;
        padding: 0 12px;
        margin-bottom: 20px;
    }
    header .m_pro_top span {
        color: #585858;
        font-size: 0.857rem;
    }

    /* header .m_gnb {
        display: block;
    } */
    header .m_proSlideWrap {
        box-sizing: border-box;
        padding-left: 12px;
        width: 100%;
        overflow-x: scroll;
    }

    header .m_proSlide {
        width: 600px;
        height: 90px;
        padding-bottom: 20px;
    }

	header .m_product, header .m_book {
		margin-top: 30px; 
	}

    header .m_book .m_bookSlide {
        margin-bottom: 30px;
        padding: 0 12px;
        box-sizing: border-box;
    }

    header .m_book .m_bookSlide .m_bookBox {
        margin: 0 5px;
        width: 172px;
        height: 160px;
        border-radius: 6px;
        overflow: hidden;
    }

    header .m_book .m_bookSlide .m_bookBox a {
        display: block;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    header .m_product .m_proBox {
        display: inline-block;
        margin: 0 7px;
        width: 70px;
    }

    header .m_product .m_proBox a {
        display: block;
        width: 100%;
    }

    header .m_product .m_proBox .m_proImg {
        width: 100%;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid #C1C1C1;
    }

    header .m_product .m_proBox p {
        font-size: 0.813rem;
        text-align: center;
    }
    


	header .m_gnbBot {
        padding: 10px 0;
		height: 40px; 
		background-color: #E2E2E2;
	}
    
    header .m_botIcon {
        margin: 0 auto;
        width: 90%;
        height: 100%;
    }
    header .m_botIcon li {
        width: 31.333%;
    }
    header .m_botIcon li a {
        height: 100%;
        flex-direction:column;
        justify-content: space-between;
        text-align: center;
    }

    header .m_botIcon li span {
        font-size: 0.75rem;
    }

    .visual {
        margin-top: 65px;
    }

    .cont01 {
        display: none;
    }

    .sixIconWrap {
        -ms-flex-wrap: wrap; flex-wrap: wrap;
    }

    .sixIconWrap .sixIcon {
        flex-basis: auto;
        width: 31.333%;
        margin: 0 1%;
    }

    .sixIconWrap .sixIcon:nth-child(1), 
    .sixIconWrap .sixIcon:nth-child(2), 
    .sixIconWrap .sixIcon:nth-child(3) {
        margin-bottom: 40px;
    }

    .sixIconWrap .sIconImg {
        margin: 0 auto;
        width: 90px;
        height: 90px;
    }

    .sixIconWrap .sixIcon:hover .sIconImg {
        box-shadow:0 2px 10px rgba(0,0,0,0.4);
    }

    .cont04 .eventBtnWrap {
        -ms-flex-wrap: wrap; 
        flex-wrap: wrap;        
    }
    
    .cont04 .eventBtnWrap .eventBtn {
        width: 49%;
    }

    .cont04 .eventBtnWrap .eventBtn:nth-child(1), 
    .cont04 .eventBtnWrap .eventBtn:nth-child(2) {
        margin-bottom: 40px;
    }

    footer {
        padding-bottom: 50px;
    }

    footer .f_top .f_btnWrap {
        -ms-flex-wrap: wrap; 
        flex-wrap: wrap;        
    }

    footer .f_top .f_select {
        position: absolute;
        bottom: 62px; 
        right: 1%;
    }

    footer .f_bot .f_adr span {
        display: block;
        margin-bottom: 5px;
    }

	footer .f_bot .f_adr span .m_noshow {
		display: none;
	}

	footer .f_bot .f_adr span .m_br {
		display: block;
	}

    footer .f_bot .f_adr span::before {
        display: none;
        content:"";
        margin: 0;
    }

    footer .htMwrap {
        margin-top: 20px;
	    display: flex;
    }

    footer .f_awardWrap {
        -ms-flex-wrap: wrap; 
        flex-wrap: wrap;        
    }

    footer .f_top .f_btnWrap li::after {
        width: 0;
    }

    footer .f_awardWrap .f_award {
        margin-bottom: 30px;
        margin-right: 15px;
    }

	/*회원가입 로그인*/

    .htMwrap li {
        margin: 0 20px;
    }

	.grayCont {
		padding: 150px 0 100px 0;
	}

	/*회원가입 로그인*/

	/*제품등록*/
	.subWrap .itemListBox li {
		width: 23%;
	}

	.subWrap .itemListBox li a {
		width: 100%;
	}

	.subWrap .itemListBox li .imgWrap {
		width: 100%;
	}

	.subWrap .itemListBox li .imgWrap img {
		height: 90%;
	}
	/*제품등록*/

	/*서비스접수*/
	.stepImgWrap {
		padding: 20px 0;
		background-color:#EEF7FF;
	}
	.stepImgWrap .stepImglink {
		display: none;
	}
	.stepImgWrap .serBnrWrap {
		margin: 0 auto;
		display: flex;
		width: 90%;
	}
	.stepImgWrap .serBnrWrap .gotoBtn {
		border-radius: 35px;
		padding: 5px 10px;
		background-color: #000;
		color: #fff;
		font-size: 0.875rem;
	}
	.stepImgWrap .serBnrWrap .secBnrTxt {
		color: #616161;
	}
	.topNav {
		display: none !important;
	}
	.board_tit  {
		display: none !important;
	}
	.ser_subTit02 {
		display: none;
	}

	.m_topNav {
		margin-top: 72px;
		padding: 20px 0;
		display: block;
		border-bottom: 1px solid #BFBFBF;
		font-size: 1.125rem;
		font-weight: 500;
	}

	.m_topNav .bookSeltit {
		font-size: 0.875rem;
	}

	.subTit_noshow {
		display: none;
	}

	.subWrap .m_subtit_wrap {
		display: -webkit-box; 
		display: -ms-flexbox; 
		display: flex; 
		-webkit-box-pack: justify; 
		-ms-flex-pack: justify; 
		justify-content: space-between;
	}

	.subWrap .m_subtit_wrap .m_subtit {
		display: block;
		font-size: 1.125rem;
	}

	.s_topNav {
		margin-top: 74px;
	}

	/*제품소개*/
	.itemTabWrap .itemTabBox .itemDetailWrap li {
		width: 50%;
	}
	.itemIntro_wrap .m_topTit {
		display: flex;
	}

	.saleIntroWrap {
		display: block !important;
	}

	.saleTxtWrap .topTit {
		display: none;
	}
	.saleIntroWrap .saleImgWrap {
		margin: 0 auto;
		width: 90%;
		height: auto;
	}
	.saleIntroWrap .saleImgWrap img {
		width: 100%;
	}
	.itemIntro_wrap .m_topTit {
		margin: 15px auto;
		width: 90%;
		font-size: 1.250rem;
		font-weight: 700;
	}
	.saleTxtWrap {
		width: 100%;
		display: flex;
		display: -webkit-box; 
		display: -ms-flexbox; 
		display: flex;
		flex-direction: column;
	}
	.itemDetailWrap02 {
		width: 100%;
		background-color: #F2F2F2;
		order: 2;
	}
	.saleTxtWrap .itemDetail {
		margin: 30px auto;
		width: 90%;
	}
	.saleTxtWrap .buyBtn {
		order: 1;
	}
	.saleTxtWrap .itemDetail tr {
		height: 40px;
		border-bottom: none;
	}
	.modelSeriWrap .modelSeri {
		margin-top: 20px;
		-ms-flex-wrap: wrap; 
		flex-wrap: wrap;
		justify-content: left;	
	}
	.modelSeriWrap .modelSeri li {
		margin: 0 1% 10px;
		width: 48%;
	}
	.inTroTabBtnWrap .inTroTabBtn li a {
		font-size: 0.875rem;
	}
	.inTroTabBtnWrap {
		margin: 50px 0 30px 0;
	}
	.modelSeriWrap .modelSeri li span {
		font-size: 1rem;
	}
	/*제품소개*/
	
	.itemIntroBnr  {
		display: none !important;
	}

	.bookAbtnailWrap .bookAbtnail {
		width: 50%;
	}

	.bookAbtnailWrap .bookAbtnail:nth-child(3) {
		padding: 54px 0;
	}

	.bookAbtnailWrap .bookAbtnail:nth-child(10) {
		border-bottom: 1px solid #A5A5A5;
	}

	.itemIntro_wrap .searchChkBox {
		width: 100%;
		border-top: none;
		border-left: none;
		border-right: none;
	}

	.itemIntro_wrap .searchChkBox .row {
		border-bottom: 1px solid #BFBFBF;
	}

	.itemIntro_wrap {
		padding-top: 0;
	}

	.searchChkBox.mtDiffer {
		margin-top: 0;
		border-top: none !important;
	}
	.itemIntro_wrap .searchChkBox .row .row_tit {
		padding: 10px 10px 10px 20px;
		border-right: none;
		background-color: #E6E6E6;
	}
	.itemIntro_wrap .searchChkBox .row .row_det {
		background-color: #f9f9f9;
	}
	.searchChkBox .row label {
		margin: 10px 0;
		width: 33.333%;
	}
	.itemIntro_wrap .searchChkBox .row:nth-child(4) .row_det {
		padding: 0 20px;
	}
	.itemIntro_wrap .searchChkBox .row.rt_row {
		padding: 10px 20px;
	}

	.searchBarWrap .searchBar {
		position: relative;
	}
	.searchBarWrap .searchBar input {
		width: 100%;
		border: 1px solid #707070
	}
	.searchBarWrap .searchBar .bookSearchBtn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 15px;
		width: 35px;
		height: 35px;
		background-repeat: no-repeat; 
		background-position: center center;
		background-size: 100% 100%;
		background-image: url("../images/search.png");
		background-color: transparent;
	}
	.searchBarWrap .searchBar .bookSearchBtn span {
		display: none;
	}

	.itemdet_wrap {
		padding-top: 0;
	}

	.itemdet_wrap .c_center {
		width: 100%;
	}
	
	.itemdet_wrap .itemDetTop {
		display: block !important;
	}
	.itemdet_wrap .itemdet_img img {
		width: 100%;
	}
	.itemdet_wrap .itemDetTop .itemdet_txt {
		width: 100%;
	}
	.itemdet_wrap .itemdet_txt_top {
		margin: 0 auto;
		padding-top: 20px;
		padding-bottom: 20px;
		width: 94%;
	}
	.itemdet_wrap .itemdet_txt_bot .itemdet_tbl {
		margin: 0 auto;
		width: 94%;
	}
	.itemdet_wrap .itemdet_txt_bot .aplyshareBtn {
		right: 3%;
	}
	.itemdet_wrap .itemdetContWrap {
		padding: 0 0 102px 0;
	}
	.itemdet_wrap .itemdetContWrap .pc_itemdetCont {
		display: none;
	}
	.itemdet_wrap .itemdetContWrap .m_itemdetCont {
		display: block;
	}
	.m_topNav {
		position: relative
	}
	.m_topNav .m_topNav_center {
		margin: 0 auto;
		width: 90%;
	}
	.m_topNav .bookSelCont {
		display: none;
		position: absolute;
		top: 67px;
		right: 0;
		width: 100%;
		z-index: 33;
	}

	.m_topNav .bookSelBtn img {
		margin-right: 6px;
	}
	.m_topNav .bookSelBtn .bookSelarrow {
		margin-left: 10px;
		font-size: 0.875rem;
	}

	.m_topNav .bookSelCont .bookSelCont_top {
		background-color: #000000;
		height: 56px;
		color: #fff;
		padding: 0 20px;
	}
	.m_topNav .bookSelCont .bookSelCont_top .bookSelTit {
		font-size: 0.875rem;
	}
	.m_topNav .bookSelCont_list {

		border-left: 1px solid #707070;
		border-right: 1px solid #707070;
		border-bottom: 1px solid #707070;
		background-color: #fff;
		overflow-y: scroll;
		height:420px;
	}
	.m_topNav .bookSelCont_list .row {
		border-bottom: 1px solid #D8D8D8;
		padding: 0 20px;
		box-sizing: border-box;
		height: 35px;	
		font-size: 0.875rem;
	}
	.m_topNav .bookSelCont_list .row .row_img {
		margin-right: 30px;
	}
	.m_topNav .bookSelInput {
		position: relative;	
		width: 200px;
		height: 28px;
	}
	
	.m_topNav .bookSelInput input {
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 20px;
		padding: 0 30px;
		box-sizing: border-box;
	}
	.m_topNav .bookSelInput .bookSearchBtn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 15px;
		width: 18px;
		height: 18px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100% 100%;
		background-image: url('../images/search.png');
		background-color: transparent;
	}
	.mypage_wrap .sidemenu {
		display: none;
	}
	.mypage_wrap .mypageCont {
		width: 100%;
	}

	.mypageCont .mypage_gryChkBox {
		border-radius: 0;
	}
	.mypageCont .mypage_gryChkBox .gryChkBox_top {
		margin-bottom: 20px;
		display: block;
	}
	.mypageCont .mypage_gryChkBox .gryChkBox_top .editBtnWrap {
		margin-top: 20px;
	}
	.mypage_wrap .editBtnWrap .borBtn {
		margin: 0 5px;
	}
	.mypage_wrap .editBtnWrap .borBtn:first-child {
		margin: 0 5px 0 0;
	}
	.mypageCont .regiList_detBox_two {
		width: 560px;
	}

}

@media (max-width:900px) {
	.mypage_wrap .c_center.m_wid100 {
		width: 100%;
	}
	.cenBoxWrap.join {
		width: 90%;
	}

	/*제품등록*/
	.serviceBox {
		width: 96%;
	}
	.serviceGryBtn {
		width: 96%;
	}
	/*제품등록*/

	/*온라인 as 접수*/
	.asFin_imgWrap {
		border-radius: 0;
	}

	.pc_img {
		display: none;
	}

	.m_img {
		display: block;
	}

	.subWrap {
		padding-bottom: 50px;
	}

	.serviceBttm02 {
		margin: 30px 0 0 0;
	}

	.subWrap .asFinish_tit {
		margin: 40px 0 40px 0;
		font-size: 1.250rem;
	}
	.subWrap02 .topBnrWrap.m_none {
		display: none;
	}
	.mapWhole {
		flex-direction: column;
	}
	.subWrap02 .mapWhole .mapWrap {
		order: 2;
		width: 100%;
		margin-right: 0;
	}
	.subWrap02 .mapWhole .mapInfoWrap {
		order: 1;
		width: 100%;
	}

	.subWrap02 .mapWhole .mapInfoWrap .pc_showBox {
		display: none;
	}
	.subWrap02 .m_showBox {
		margin-top: 20px;
		display: block;
	}
	.subWrap02 .mapInfo .mapDetail {
		font-size: 0.875rem;
	}
	.subWrap02 .mapInfo .mapDetail .det {
		margin-top: 10px;
	}

	.subWrap02 .mapWhole .mapWrap #map {
		height: 400px;
	}

	.grayCont .ser_whtBox.addAdr {
		width: 100%;
	}
	.addrFormWrap {
		width: 90%;
	}
	.itemIntroBnr .pc_img {
		display: none;
	}
	
	.itemIntroBnr .m_img {
		display: block;
	}
	.itemIntro_wrap {
		padding-top: 0;
	}
	.subWrap.subWrap03 {
		padding-bottom: 12px !important;
	}

	.modelSeriWrap .modelSeri li {
		padding: 0 10px;
		height: 50px;
	}
	.modelSeriWrap .modelSeri li span {
		font-size: 0.875rem;
	}
	.modelSeriWrap .modelSeri li a img {
		height: 60%;
	}
	.inTroTabBtnWrap .inTroTabBtn li {
		margin: 0 10px;
		padding: 22px 0;
	}
	.itemIntro_wrap .shareBtn {
		width: 35px;
		height: 35px;
	}
	.itemIntro_wrap .shareBtn img {
		height: 60%;
	}

	.searchChkBox .row label {
		font-size:  0.75rem;
	}

	.itemIntro_wrap .searchChkBox .row .row_tit {
		padding: 10px 15px;
	}

	.itemIntro_wrap .searchChkBox .row .row_det {
		padding: 0 10px;
	}
	.itemIntro_wrap .searchChkBox .row:nth-child(4) .row_det {
		padding: 0 10px;
	}
	.searchChkBox .checkReset, .searchChkBox .setToggl {
		font-size: 0.875rem;
	}
	.searchChkBox .checkReset .chkResetBtn img {
		height: 20px;
	}
	.searchChkBox .setToggl .setTogglBtn {
		width: 20px;
		height: 22px;
		background-size: 21px 23px;
	}
	.bookAbtnailWrap .bookAbtnail .bkAbtnailTxt {
		padding: 11px 10px 20px;
	}
	.bookAbtnailWrap .bookAbtnail .bkAbtnailTxt .bkAbtTop {
		margin-bottom: 5px;
	}
	.bookAbtnailWrap .bookAbtnail .bkAbtnailTxt .bkAbtTop .bkAbtBtN {
		padding: 3px 5px;
		font-size: 0.75rem;
	}
	.bookAbtnailWrap .bookAbtnail .bkAbtnailTxt .bkAbtTit {
		margin-bottom: 5px;
		font-size: 0.875rem;
	}
	.bookAbtnailWrap .bookAbtnail .bkAbtnailTxt .bkAbtDet .bkAbtDet_left {
		display: none;
	}
	.bookAbtnailWrap .bookAbtnail .bkAbtnailTxt .bkAbtDet .bkAbtDet_right {
		width: 100%;
	}
	.bookAbtnailWrap .bookAbtnail .bkAbtnailTxt .bkAbtDet .bkDetTxt {
		display: none;
	}
	.bookAbtnail .bkAbtnailTxt .sayBookIcon {
		left: 85%;
	}
	.bookAbtnailWrap .bookAbtnail {
		border-bottom: none;
	}
	.bookAbtnailWrap .bookAbtnail {
		padding: 15px 0;
	}
	.bookAbtnailWrap .bookAbtnail:nth-child(1), 
	.bookAbtnailWrap .bookAbtnail:nth-child(2), 
	.bookAbtnailWrap .bookAbtnail:nth-child(3), 
	.bookAbtnailWrap .bookAbtnail:nth-child(4) {
		padding: 15px 0;
	}
	.bookAbtnailWrap .bookAbtnail:nth-child(9) {
		border-bottom: none;
	}
	.bookAbtnailWrap .bookAbtnail:nth-child(10) {
		border-bottom: none;
	}
	.itemIntro_wrap .topOption {
		padding: 20px 0 0 0 !important;
	}
	.mypageCont .level_det_bot {
		display: block;
	}
	.mypage_wrap .borBtn {
		display: inline-block;
		line-height: 30px;
	}
	.level_det_bot .borBtn {
		margin-top: 10px;
	} 
	.mypage_wrap .editBtnWrap .borBtn {
		line-height: 35px;
	}
	.mypageCont .myRegiItems_con.chng {
		padding: 0 0 20px 20px;
		margin: 20px 0 0 0;
		width: 100%;
		overflow-x: scroll;
	}
	.mypageCont .mypage_gryChkBox {
		margin-bottom:10px;
		box-shadow: -2px 4px 9px #00000029;
	}
	.mypageCont .myRegiItems_con .myRegiItems_list {
		width: 900px;
	}
	.mypageCont .myRegiItems_con .levelBoxWrap .levelBox {
		padding: 0 24px;
	}
	.subWrap.mypage_wrap.gry {
		padding-top: 0;
		padding-bottom: 0;
		background-color:#F1F1F1;
	}
	.mypageCont .myRegiItems {
		padding-top: 15px;
		margin-bottom: 15px;
		background-color: #fff;
	}
	.myRegiLast_wrap .myRegiLast_box {
		margin: 30px auto;
		width: 90%;
	}
	.mypageCont .myRegiItems .myRegiItems_tit {
		padding:0 25px 16px;
		border-bottom: 1px solid #C1C1C1;
	}
	.myRegiLast_wrap {
		display: block !important;
		margin-top: 15px;
		padding: 10px 0;
	}

}


@media (max-width:768px) {
	.cenBoxWrap.login {
		width: 90%;
	}

	.searchBarWrap .searchBar {
		height: 34px;
	}

	.searchBarWrap .searchBar .bookSearchBtn {
		width: 23px;
		height: 23px;
	}
	.searchBarWrap .searchBar input {
		padding: 0 53px 0 15px;
		font-size: 0.875rem;
	}
	.itemdet_wrap .itemDetTop .itemdet_txt .bkAbtTop .bkAbtBtN {
		padding: 3px 5px;
		font-size: 0.75rem;
	}
	.itemdet_wrap .itemdet_txt_top .itemdet_top_left p {
		font-size: 1.250rem;
	}
	.itemdet_wrap .itemdet_txt_top img {
		height: 55px;
	}
	.itemdet_wrap .itemdet_txt_bot .row .row_tit {
		font-size: 0.875rem;
	}
	.itemdet_wrap .itemdet_txt_bot .row .row_det {
		width: 75%;
		font-size: 0.875rem;
	}
	.itemdet_wrap .itemdet_txt_bot .aplyshareBtn img {
		height: 37px;
	}
	.itemdet_wrap .itemdet_txt_bot .row.aplyKindCom_row {
		margin-top: 30px;
		border-top: 1px solid #DCDCDC;
		padding-top: 20px;
	}
	.itemdet_wrap .itemdet_txt_bot .row .row_det .aplyKindCom {
		border: 1px solid #DCDCDC;
		height: 29px;
	}
	.itemdet_wrap .itemdet_txt_bot .row .row_det .aplyKindCom img {
		height: 60%;
	}
	.itemdet_wrap .itemdet_txt_bot .row .row_det .aplyKindCom:nth-child(2) img {
		height: 41%;
	}
	.itemdet_wrap .itemdetBtnWrap {
		margin-top: 30px;
	}
	.itemdet_wrap .itemdetBtnWrap .itemdetBtn {
		height: 45px;
		font-size: 1rem;
	}
	.itemdet_wrap .itemdetBtnWrap .itemdetBtn:nth-child(2) img {
		height: 20px;
	}
	.mypageCont .mypage_gryChkBox .gryChkBox_name {
		font-size: 1.125rem;
	}
	.mypage_wrap .editBtnWrap .borBtn {
		line-height: 30px;
		height: 30px;
	}
	.mypageCont .myRegiItems_con {
		width: 100%;
	}
	.mypageCont .myRegiItems_con.m_none {
		display: none;
	}
	.mypage_wrap .borBtn.m_none {
		display: none;
	}
	.myRegiItems .m_blockBtn {
		display: flex;
		border-bottom: 1px solid #C1C1C1;
		font-size: 1.125rem;
		height: 60px;
		transition: all 0.3s;
	}
	.myRegiItems .m_blockBtn:hover {
		color: #fff;
		background-color: #D10000;
		border-bottom: 1px solid #D10000;
	}
	.mypageCont .myRegiItems_con .levelBoxWrap {
		margin: 0 auto 20px;
		width: 95%;
	}
	.mypageCont .level_det_bot .level_det_list {
		flex-wrap: wrap;
		font-size: 0.875rem;
	}
	.mypageCont .myRegiItems_con .smallStatus {
		margin-right: 14px;
	}
	.mypageCont .myRegiItems_con .levelBoxWrap .levelBox {
		padding: 0 15px;
	}
	.mypageCont .myRegiItems_con .levelBoxWrap .levelBox p {
		font-size: 1rem;
	}
	.mypageCont .myRegiItems_con .levelBoxWrap .levelBox span {
		font-size: 0.875rem;
	}
	.mypageCont .myRegiItems_con .levelBoxWrap > img {
		width: 8px;
	}
	.mypageCont .mypage_gryChkBox .gryChkBox_botbox .botbox_tit {
		font-size: 0.875rem;
	}
	.mypageCont .mypage_gryChkBox .gryChkBox_botbox .botbox_det {
		font-size: 1rem;
	}
	.mypageCont .mypage_gryChkBox .gryChkBox_botbox .botbox_det .nm {
		font-size: 1.3rem;
	}
	.mypageCont .mypage_gryChkBox {
		padding: 28px 15px;
	}
	.mypageCont .myRegiItems .myRegiItems_tit .myRegiItems_tit_first {
		font-size: 1.125rem;
	}
	.mypageCont .myRegiItems_con .myRegiItems_list li {
		width: 72px;
	}
	.mypageCont .myRegiItems_con .myRegiItems_list li .imgWrap {
		height: 72px;
	}
	.mypageCont .myRegiItems_con .myRegiItems_list li p {
		font-size: 0.75rem;
	}
	.myRegiItems .perQnaWrap {
		display: flex;
	}
	.myRegiItems .perQnaWrap .perQnaBox {
		box-sizing: border-box;
		width: 50%;
		border: 1px solid #C1C1C1;
		border-top: none;
		height: 60px;
	}
	.myRegiItems .perQnaWrap .perQnaBox:first-child {
		border-right: none;
	}
	.myRegiItems .perQnaWrap .perQnaBox p {
		margin: 0 10px;
		font-size: 0.875rem;
	}
	.myRegiItems .perQnaWrap .perQnaBox span {
		font-weight: 700;
		font-size: 1.250rem;
	}
	.myRegiItems .perQnaWrap .perQnaBox .new {
		border-radius: 50%;
		width: 16px;
		height: 16px;
		color: #fff;
		font-weight: 500;
		background-color: #d10000;
		font-size: 0.75rem;
		margin-left: 10px;
	}
	.myRegiLast_wrap .myRegiLast_box .myRegiLast_tit {
		font-size: 1.125rem;
	}
	.myRegiLast_wrap .myRegiLast_box .myRegiLast_small .myRegiLast_small01 {
		font-size: 1rem;
	}
	.myRegiLast_wrap .myRegiLast_box .myRegiLast_small .myRegiLast_small02 {
		font-size: 1.125rem;
	}


	
}

@media (max-width:698px) {

	  body {
		-webkit-tap-highlight-color : rgb(237,237,237,0.6) !important;;
	  }

    #popupWrap .popupBox {
        width: 300px;
    }
    #popupWrap .slick-next, #popupWrap .slick-prev {
        width: 50px;
        height: 50px;
    }
    #popupWrap .slick-prev {
        left: -17px;
    }
    #popupWrap .slick-next {
        right: -17px;
    }
    #popupWrap .popupSlick {
        height: 300px;
    }
    #popupWrap .popupSlick .popupImg {
        width: 300px;
        height: 300px;
    }
    #popupWrap .slick-dots {
        bottom: 48px;
    }
    #popupWrap .popBotTxt {
        padding: 13px 30px;
    }
    #popupWrap .slick-next:before, #popupWrap .slick-prev:before {
        background-size: 30px 30px;
    }
    #popupWrap .slick-dots li {
        width: 10px;
        height: 10px;
    }
    #popupWrap .slick-dots li button {
        width: 10px;
        height: 10px;
    }

    header .h_center {
        width: 100%;
        height: 66px;
    }
    header .h_center .h_top {
        padding-bottom: 15px;
        padding-top: 15px;
    }
    header .h_center .h_top .logo {
        position: absolute;
        left: 15px;
    }
    header .h_center .h_top .logo a img {
        height: 35px;
    }

    header .m_btnWrap {
        margin-right: 15px;
    }
    
    header .m_gnb {
        top: 65px;
    }

    header .m_book .m_bookSlide .m_bookBox {
        height: 77px;
    }

    .c_center {
        width: 90%;     
    }
    .sub_tit {
        font-size: 1.5rem;
    }

    .visual .visualSlick .slick-dots li {
        width: 10px;
        height: 10px;
    }
    .visual .visualSlick .slick-dots li button {
        width: 10px;
        height: 10px;
    }

    .sixIconWrap .sIconTxt {
        font-size: 1rem;
    }
    .cont03 .c_center {
        width: 100%;
    }
    .cont03 .mainBnr {
        background-image: url("/images/m_main_banner.png");
        height: 135px;
        border-radius: 0;
    }
    .cont04 .eventBtnWrap .eventBtn .eventTit {
        font-size: 1.143rem;
    }
    .cont04 .eventBtnWrap .eventBtn .eventDet {
        font-size: 0.875rem;
    }
    .cont04 .eventBtnWrap .eventBtn .eImgWrap {
        height: 140px;
    }
    .cont05 .newsTop {
        position: relative;
        margin-bottom: 15px;
    }
    .cont05 .newsTop .newsTit {
        width:100%;
        font-size: 1.5rem;
        text-align: center;
    }
    .cont05 .newsTop .moreBtn {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 1rem;
    }
    .cont05 .newsBox .newsRow {
        padding: 16px 0;
    }
    .cont05 .newsBox .newsRow .newsRow_tit {
        font-size: 1rem;
    }
    .cont05 .newsBox .newsRow .newsRow_date {
        font-size: 1rem;
    }

    footer .f_top .f_btnWrap li a {
        display: inline-block;
        font-size: 0.875rem;
        letter-spacing: -1px;
		margin-bottom: 5px;
    }

    footer .f_top .f_select {
        bottom: 56px;
        width: 158px;
    }
    footer .f_awardWrap .f_award {
        margin-right: 0;
        margin-bottom: 20px;
    }
    footer .f_awardWrap .f_award.mr18 {
        margin-right: 18px;
    }
    footer .f_awardWrap .f_award .awardImg {
        margin-right: 8px;
        height: 25px;
    }

    footer .f_awardWrap .f_award:nth-child(1), 
    footer .f_awardWrap .f_award:nth-child(2), 
    footer .f_awardWrap .f_award:nth-child(3) {
        width: auto;
        margin-right: 10px;
    }
    footer .f_awardWrap .f_award .awardTxt p {
        font-size: 0.75rem;
    }
    footer .f_bot .f_adr span {
        font-size: 0.875rem;
    }

	footer .htMwrap li a {
		font-size: 0.75rem;
	}

	/*회원가입 로그인*/

	.cenBoxWrap {
		padding: 0 0 100px 0;
		width: 100%;
		border: none;
	}

	.grayCont {
		padding: 0;
		background-color: transparent;
	}

	.cenBoxWrap.vh100 {
		padding: 0;
		width: 100% !important;
		height: 100vh;
	}

	.cenBoxWrap.flcul {
		display: -webkit-box; 
		display: -ms-flexbox; 
		display: flex; 
		-webkit-box-pack: justify; 
		-ms-flex-pack: justify; 
		justify-content: space-between;
		flex-direction: column;
	}

	.cenBoxWrap.vh100 .m_wrap {
		width: 86%;
		margin: 0 auto;
		padding-top: 100px;
	}

	.cenBoxWrap.login {
		width: 100%;
		border: none;
	}

    .htMwrap li {
        margin: 0 12px;
    }
    .htMwrap .htMimg img {
        height: 26px;
    }

    .htMwrap .htMimg.edutv img {
        height: 20px;
    }

	.jt_center {
		width: 100%;
	}

	.jt_center .jt_left {
		align-self: stretch;
		margin-top: -27px;
	}

	.jt_center .jt_right {
		align-self: stretch;
	}

	.cenBoxWrap .loginWrap {
		padding: 100px 0 0 0;
		width: 86%;
	}

	.cenBoxWrap .loginWrap .loginTit {
		margin-bottom: 35px;
		font-size: 1.5rem;
	}

	.cenBoxWrap .loginWrap .inputWrap input {
		font-size: 0.938rem;
		margin-left: 35px;
		width: calc(100% - 35px);
	}

	.cenBoxWrap .loginWrap .inputWrap input::placeholder {
		font-size: 0.938rem;
	}

	.cenBoxWrap .loginWrap .inputWrap img {
		bottom: 15px;
		height: 20px;
	}

	.cenBoxWrap .loginWrap .inputWrap.mb54 {
		margin-bottom: 30px;
	}

	.cenBoxWrap .loginWrap .loginBtn {
		height: 40px;
		line-height: 40px;
		font-size: 1.125rem;
	}

	.cenBoxWrap .loginWrap .subBtnWrap a {
		font-size: 0.875rem;
	}

	.cenBoxWrap.join {
		width: 86%;
	}

	.cenBoxWrap .joinWrap02 {
		width: 100%;
	}

	.cenBoxWrap .joinWrap .joinTit {
		margin-bottom: 35px;
		font-size: 1.5rem;
	}

	.cenBoxWrap .joinWrap .joinDet {
		margin-bottom: 33px;
		line-height: 1.5;
		font-size: 1rem;
	}

	.cenBoxWrap .joinWrap .joinDet br {
		display: none;
	}

	.joinWrap02.allFind_re02 {
		padding-bottom: 100px;
	}

	.cenBoxWrap .joinWrap .regiBox {
		padding: 15px 0;
	}

	.cenBoxWrap .joinWrap .regiBox .regiTxt {
		font-size: 1.250rem;
	}

	.cenBoxWrap .joinWrap .regiBox .regiDet {
		margin-bottom: 19px;
		font-size: 0.875rem;
	}

	.cenBoxWrap .joinWrap .regiBox .regiBtn {
		height: 50px;
		line-height: 50px;
		font-size: 1rem;
	}

	.cenBoxWrap .joinWrap {
		padding: 100px 0 0 0;
		width: 100%;
	}

	.cenBoxWrap .joinWrap02 input[type=checkbox] + label {
		font-size: 0.875rem;
		height: 20px;
	}

	.submitBtn.nextBtn {
		width: 100%;
		margin: 100px auto 0;
	}

	.submitBtn02 {
		width: 90% !important;
	}

	.joinWrap .re_submitBtn {
		margin: 0 auto 20px;
		height: 50px;
	}

	.submitBtn03 {
		width: 90% !important;
	}

	.cenBoxWrap.j_step3 {
		padding: 100px 0 0 0;
		width: 100%;
	}

	.cenBoxWrap.j_step5 {
		padding: 100px 0 0 0;
	}

	.cenBoxWrap.j_step3 .m_wrap {
		margin: 0 auto;
		width: 86%;
	}

	.jt_center .jt_left .jtGray {
		font-size: 1rem;
	}

	.jt_center .jt_left .jtBlack {
		font-size: 1.250rem;
	}

	.joinTop {
		padding: 15px 0 15px 0;
		border-bottom: 0;
	}

	.joinInputWrap input {
		font-size: 0.875rem;
	}

	.joinInputWrap input::placeholder {
		font-size: 0.875rem;
	}

	.joinWrap02.step03 input::placeholder {
		font-size: 0.875rem;
	}

	.joinInputWrap .ipt_smallbtn {
		height: 32px;
		bottom: 6px;
	}

	.joinInputWrap .ipt_smallbtn.widsame {
		width: 70px;
	}

	.joinWrap02.step01_en .ipt_smallbtn {
		font-size: 0.8rem;
	}

	.joinWrap02 .chkAll {
		margin: 18px 0 20px 0;
		padding-bottom: 30px;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
	}

	.joinWrap02 .yesChk {
		margin-bottom: 25px;
		width: 80%;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
	}

	.joinWrap02.step03 .ipt_smallbtn {
		padding: 0 10px;
	}

	.joinWrap02 .yesLnk {
		padding-top: 5px;
	}

	.joinWrap02.step03 .showPW {
		margin-top: 24px;
	}

	.joinWrap02.step03 .joinInputWrap .ipt_smallbtn.widchange {
		width: 128px;
	}

	.cenBoxWrap.j_step4 {
		padding: 100px 0 0 0;
		width: 100%;
	}

	.cenBoxWrap.j_step4 .joinTop {
		margin: 0 auto;
		width: 86%;
	}

	.j_idShowWrap {
		padding: 20px 0;
	}

	.j_idShowWrap .j_idS_first {
		margin-bottom:0;
		font-size: 1rem;
	}

	.j_idShowWrap .j_idS_sec {
		font-size: 1.375rem;
	}

	.cenBoxWrap .joinWrap.final {
		padding: 36px 0 0 0;
	}

	.joinWrap .j_helloFirst {
		font-size: 1.375rem;
	}

	.joinWrap .j_helloSec {
		margin-bottom: 40px;
		font-size: 0.938rem;
		line-height: 1.5;
	}

	.joinWrap .submitBtn02  img {
		height: 24px;
	}

	.joinWrap .submitBtn03 img {
		height: 18px;
	}

	.joinWrap .re_submitBtn span {
		font-size: 0.938rem;
	}

	.joinTop02 {
		padding: 20px 0;
	}

	.joinTop02 .jt_center {
		display: block;
	}
	.jt_center.widchange {
		width: 100%;
	}

	.joinTop02 .jtSubDetail {
		margin-top: 30px;
		margin-left: 0;
	}

	.joinInputWrap {
		margin-top: 30px;
	}

	.cenBoxWrap.padtop100 {
		padding: 100px 0;
	}

	.submitBtn.nextBtn02 {
		margin: 0;
		width: 100%;
	}

	.idChkShow {
		margin-top: 30px;
	}

	.idChkShow span {
		font-size: 1rem;
	}

	.idChkDet p {
		font-size: 0.875rem;
	}

	.allIdFind {
		font-size: 0.875rem;
		font-size: 0.875rem;
	}

	.halfsBtn {
		height: 50px;
		font-size: 0.875rem;
	}

	#notifyMsg_wrap .notifyMsg {
		width: 80%;
		padding: 40px 0 30px 0;
	}

	#notifyMsg_wrap .notifyMsg p {
		margin-bottom: 40px;
		font-size: 1rem;
	}

	/*회원가입 로그인*/


	/*제품등록*/

	.subWrap.pt80 {
		padding-top: 80px;
	}

	.subWrap .cirStepWrap li {
		height: 21px;
	}

	.subWrap .cirStepWrap li .cir {
		width: 21px;
		height: 21px;
		font-size: 0.813rem;
	}

	.subWrap .stepTit {
		font-size: 0.75rem;
	}

	.subWrap .itemListBox li {
		margin-bottom: 14px;
		width: 48%;
	}

	.subWrap .itemListBox li .imgWrap {
		height: 172px;
	}

	.subWrap .kindTitBox {
		height: 42px;
		font-size: 1.125rem;
	}

	.subWrap .serialImgWrap img {
		width: 100%;
	}

	.subWrap .serialTbl table tr th {
		width: 5%;
	}

	.subWrap .serialTbl table tr td {
		width: 95%;
	}

	.subWrap .serialTbl table tr th .th_txt {
		display: none;
	}

	.subWrap .serialTbl table tr td select {
		width: 48%;
	}

	.popUpwrap .popUpBox {
		width: 90%;
		height: 252px;
	}

	.popUpwrap .popUpBox .textBox .txt01 {
		font-size: 1.125rem;
	}

	.popUpwrap .popUpBox .textBox .txt02 {
		font-size: 0.875rem;
	}

	.m_twoBtnWrap {
		display: block !important;
	}

	.m_twoBtnWrap .twoBtn {
		margin: 15px 0;
	}

	.twoBtnWrap .twoBtn {
		width: 100%;
		height: 40px;
	}

	.subWrap .finishAlarm, .subWrap .itemDetailTxt .itemTit {
		font-size: 1.250rem;
	}

	.itemDetailTxt .itemDet {
		font-size: 1rem;
	}


	/*제품등록*/

	/*서비스접수*/
    .c_center.wid100 {
		width: 100%;
	}
	.ser_subTit {
		margin: 30px 0;
		font-size: 1.375rem;
	}

	.ser_subDet {
		margin-bottom: 50px;
		font-size: 1rem;
		text-align: left !important;
	}

	.serviceBox .serviceTit {
		font-size: 1.250rem;
	}

	.serviceBox .serviceDet {
		font-size: 1rem;
	}

	.serviceBox .regiBtn {
		font-size: 1rem;
	}

	.grayCont .ser_whtBox.m_show {
		display: block;
	} 

	.grayCont .ser_whtBox.m_none {
		display: none;
	} 

	.stepImgWrap .serBnrWrap .firBnrTxt {
		font-size: 1rem;
	}

	.stepImgWrap .serBnrWrap .secBnrTxt {
		font-size: 0.875rem;
	}


	.grayCont .ser_center .whtBox_tit {
		font-size: 1rem;
	}

	.grayCont .ser_whtBox .ser_regiBtn {
		width: 95px;
		height: 34px;
		font-size: 0.875rem;
	}

	.grayCont .ser_whtBox .searchSerial {
		border-radius: 5px;
	}

	.grayCont .ser_center {
		padding: 20px;
	}

	.grayCont .ser_center.topTit {
		padding: 0 20px;
	}

	.c_center.m_wid100 {
		width: 100%;
	}

	.grayCont .ser_center .grySmall {
		width: 64%;
		font-size: 0.875rem;
	}
	.grayCont .ser_whtBox .pplInfo li {
		font-size: 0.875rem;
	}
	.ser_whtBox .ser_addr {
		font-size: 0.875rem;
	}
	.ser_whtBox .newSerialBtn {
		font-size: 0.875rem;
	}
	.grayCont .ser_whtBox .searchSerial {
		font-size: 0.875rem;
	}
	.ser_whtBox .skyblueBtn {
		font-size: 0.875rem;
	}
	.buyBasicInfo label {
		font-size: 0.875rem;
	}
	.grayCont .ser_whtBox .selectWrap select {
		font-size: 0.875rem;
		border-radius: 5px;	
	}
	.grayCont .ser_whtBox textarea {
		font-size: 0.875rem;
		border-radius: 5px;
	}
	.serviceBttm .cauGray {
		font-size: 0.875rem;
		text-align: left;
	}
	.serviceBttm {
		width: 90%;
		margin: 0 auto;
		box-sizing: border-box;
	}
	.grayCont .ser_whtBox .item_tableWrap table tr {
		height: 35px;
	}
	.grayCont .ser_whtBox .item_tableWrap table tr th {
		font-size: 0.875rem;
	}
	.grayCont .ser_whtBox .item_tableWrap table tr td {
		padding-left: 15px; 
		font-size: 0.875rem;
	}
	.grayCont .ser_whtBox .item_tableWrap .delBtn {
		font-size: 0.875rem;
	}

	.twoBtnWrap02 .twoBtn {
		height: 40px;
	}

	.subWrap02 .mapWhole .mapWrap #map {
		height: 250px;
	}
	.serviceBttm.asBtn {
		width: 100%;
	}

	.s_topNav {
		display: none !important;
	}

	.m_topNav {
		margin-top: 66px;
	}

	/*서비스접수*/

	/*게시글*/
	.sub_search_box {
		height: 45px;
	}
	.sub_search_box button {
		height: 28px;
	}
	.sub_search_box button img {
		height: 100%;
	}
	.sub_search_box input {
		font-size: 1rem;
	}
	.totalShow {
		font-size: 1rem;
	}
	.subtable tr th {
		font-size: 0.875rem;
	}
	.subtable tr td {
		font-size: 0.875rem;
	}
	.sticker {
		font-size: 0.7rem;
	}
	.titTop {
		padding-bottom: 10px;
	}
	.titTop .viewTit {
		margin: 5px 0;
		font-size: 1.125rem;
	}
	.dateList li {
		font-size:  0.875rem;
	}
	.boardCont {
		padding: 44px 0 60px 0;
		font-size: 0.875rem;
	}
	.a_close {
		width: 20px;
		height: 20px;
	}
	.a_close img {
		width: 100%;
	}
	.sixIconTit {
		font-size: 1.125rem;
		text-align: center;
	}
	.m_br {
		display: block;
	}
	.boardTab {
		margin: 50px 0 30px 0;
	}
	
	.boardTab .bTabBtn li {
		padding: 0px;
		font-size: 0.875rem;
	}
	
	.bTabContWrap .bTabCont .tblTit p {
		font-size: 1.125rem;
	}
	
	.bTabContWrap .bTabCont .tblTit .moreBtn {
		font-size: 1rem;
	}

	.subtable tr:nth-child(1) {
		height: 50px;
	}
	.subtable tr {
		height: 50px;
	}

	.subtable.bdFormTbl  th:nth-child(1),
	.subtable.bdFormTbl  td:nth-child(1) {
		padding-left: 15px;
		width: 40%;
		box-sizing: border-box;
		text-align: left;
	}

	.subtable.bdFormTbl  th:nth-child(2),
	.subtable.bdFormTbl  td:nth-child(2) {
		width: 30%;
	}

	.subtable.bdFormTbl  th:nth-child(3),
	.subtable.bdFormTbl  td:nth-child(3) {
		padding-right: 15px;
		width: 30%;
		text-align: right;
		box-sizing: border-box;
	}
	
	.subtable .smallerFnt {
		font-size: 0.7rem;
	}

	.subtable tr:hover {
		background-color : rgb(237,237,237,0.7) !important;
	}

	.subtable tr td p {
		padding-left: 0;
	}

	/*게시글*/

	/*제품소개*/
	.topOption .differShape .recentTit {
		margin-right: 5px;
		font-size: 1rem;
	}
	.topOption .differBtn > a {
		width: 27px;
		height: 27px;
		background-size: 67%;
	}

	.itemTabWrap .itemTabBox .itemDetailWrap li {
		width: 100%;
	}

	.itemTabWrap .itemTabBox.diffShpe .itemDetailWrap li .itemDetail .imgWrap {
		width: 52px;
		height: 52px;
	}
	.itemTabWrap .itemTabBox.diffShpe .itemDetailWrap li .itemDetail {
		padding: 0;
	}
	.itemTabWrap .itemTabBox.diffShpe .itemDetail .t_itemTit {
		margin-bottom: 5px;
		font-size: 1rem;
	}
	.itemTabWrap .itemTabBox.diffShpe .itemDetail .t_itemDet {
		font-size: 0.875rem;
	}
	.itemTabWrap .itemTabBox.diffShpe .itemDetailWrap li .itemDetail .txtBox {
		margin-left: 20px;
	}
	.itemTabWrap .itemTabBox .itemDetailWrap li:nth-child(7n), 
	.itemTabWrap .itemTabBox .itemDetailWrap li:nth-child(8n),
	.itemTabWrap .itemTabBox .itemDetailWrap li:nth-child(9n) {
		border-bottom: 1px solid #c7c7c7;
	}

	.itemTabWrap .itemTabBox .itemDetailWrap li:last-child {
		border-bottom: none;
	}

	.itemTabBtnWrap {
		width: 100%;
		overflow-x: scroll;
		 -ms-overflow-style: none; /* IE and Edge */
		 scrollbar-width: none; /* Firefox */
	}
	.itemTabBtnWrap::-webkit-scrollbar {
		display: none; /* Chrome, Safari, Opera*/
	}
	.itemTabBtn li {
		margin: 0;
		padding: 5px 11px;
		font-size: 0.875rem;
	}
	.saleTxtWrap .buyBtn {
		margin-top: 60px;
		font-size: 0.875rem;
		height: 53px;
	}
	.saleTxtWrap .itemDetail tr th {
		font-size: 0.875rem;
		width: 30%;
		color: #919191;
		font-weight: 400;
	}
	.saleTxtWrap .itemDetail tr td {
		font-size: 0.875rem;
		width: 70%;
		font-weight: 500;
		color: #000;
	}

	.modelSeriWrap .modelSeriTit {
		font-size: 0.875rem;
	}
	.inTroTabBtnWrap {
		width: 100%;
		overflow-x: scroll;
		 -ms-overflow-style: none; /* IE and Edge */
		 scrollbar-width: none; /* Firefox */
	}
	.inTroTabBtnWrap::-webkit-scrollbar {
		display: none; /* Chrome, Safari, Opera*/
	}

	.mypageCont .myRegiItems_con.chng::-webkit-scrollbar {
		display: none;
	}

	.inTroTabBtn {
		width: 550px;
	}
	.bookAbtnail .bkAbtnailTxt .sayBookIcon img {
		height: 20px;
	}
	.bookAbtnailWrap .bookAbtnail .bkAbtnailTxt .bkAbtTit {
		white-space:nowrap; 
		overflow:hidden; 
		text-overflow:ellipsis;
		font-size: 0.75rem;
	}
	.bookAbtnailWrap .bookAbtnail .bookAbtBox {
		width: 96%;
	}
	/*제품소개*/
	.cenBoxWrap .loginWrap .loginsubTit {
		margin-bottom: 30px;
		text-align: left;
	}
	.cenBoxWrap .loginWrap .loginsubTit p {
		margin: 0 0 5px 0;
		font-size: 0.875rem;
	}
	.cenBoxWrap .loginWrap .loginsubTit span {
		font-size: 0.7rem;
	}
	.mypage_wrap .borBtn.m-none {
		display: none;
	}
	.mypage_wrap .m_borBtn {
		display: inline-block;
		line-height: 30px;
	}
	.level_det_bot .m_borBtn {
		margin-top: 10px;
	} 
	.levelcirWrap .cirStatus {
		margin-right: 10px;
	}
	.levelcirWrap .cirStatus_wrap {
		width: calc(100% - 16px);
	}
	.levelcirWrap .cirStatus_wrap .cirStatus_date {
		margin-right: 10px;
		width: 60px;
	}
	.levelcirWrap .cirStatus_wrap .cirStatus_det {
		width: calc(100% - 80px);
	}

}